.idea
*.iml
performance.js
think

results
browsers/windows/chrome
browsers/windows/FirefoxPortable
browsers/ubuntu
config.json
*.har
*.json
test.js
node_modules
test.json
modules/alxea500
modules/hao123
modules/alxea500/alxea500.js
modules/hao123/hao123.js
extensions